@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'candy';
    src: url(./assets/font/fonarto/Fonarto\ XT.ttf);
}
@font-face {
    font-family: 'candy1';
    src: url(./assets/font/fonarto/Fonarto.ttf);
}
.custom-font{
    font-family: 'candy','Courier New', Courier, monospace;
}
.Toastify__toast--warning,.custom-font-1{

    font-family:'candy1','Courier New', Courier, monospace !important;
}
.noti-text, .noti-con, .noti-div{
    transition: all 0.6s;
}
.noti-text{
    display: none;
}
.noti-div:hover,.noti-div.active{
    width: 145px;
    background-color: #f1f1f1;
    .noti-con{
    /* width: 35px; */
    right: 134px;

    }
    .noti-text{
        display: block;
        position: absolute;
        right: 3%;
        top: 32px;
    }
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
.edit-del{
    opacity: 0;
}
.card-del-edit:hover .edit-del{

    opacity: 0.6;
}
.delete-img{
    display: none;
}
.noti-info-div:hover{
    .noti-name{
        width: 70%;
    }
    img{
        display: block;
    }
}
.noti-modal:hover{
    .del-all-icon{
        z-index: 50;
    }
}
.top-bar,.bg-head{
    background-color: #232533;
    color: #bbbdc6;
}
.main-body{
    background-color: #313341;
}
.to-do-div{
    background-color: #bdc1d9;
}
.pro-div{
    background-color: #6cb4ef;
}
.com-div{
    background-color: #ff9bd9;
}
.todo-Clas, .pro-Clas, .com-Clas{
    transition: all 0.4s;
}
.list, .listData{
    transition: all 0.6s;
}
.todo-Clas:hover, .pro-Clas:hover, .com-Clas:hover{
    background-color: #555;
    .list{
        display: none;
    }
    .listData{
        width: 50%;
    }
    .listDesc{
        width: 30%;
    }
    .del-edt{
        display: flex;
        width: 20%;
        justify-content: end;
    }
}
.right-side{
    background-color: #bdc1d9;
}
.noti-paren:hover .noti-task{
    transition: all 0.4s;
    font-size: 1.2rem;
}
